{% extends 'wiki/page/layout.html' %}
{% load bootstrap3 %}
{% block add_script %}
    {% load staticfiles %}
    <script src={% static "wiki/jsTree/jstree.min.js" %}></script>
    <link href={% static "wiki/jsTree/themes/default/style.min.css" %} rel="stylesheet" >
    <link href={% static "wiki/wiki_styles/page_themes/default.css" %} type="text/css" rel="stylesheet">
    <link href={% static "wiki/wiki_styles/page.css" %} type="text/css" rel="stylesheet">
    <link href={% static "wiki/slidebars/styles/slidebars.min.css" %} type="text/css" rel="stylesheet">
    <link href={% static "wiki/gitgraphs/gitgraph.css" %} type="text/css" rel="stylesheet">
    <script src={% static "wiki/wiki_scripts/page.js" %}></script>
    <script src={% static "wiki/gitgraphs/gitgraph.js" %}></script>

    {% if module_dynamic_paragraphs %}
        <script src={% static "wiki/wiki_scripts/page_context.js" %}></script>
    {% endif %}
    <script src={% static "wiki/slidebars/scripts/slidebars.min.js" %}></script>
    <script>
        $(init);

        //Текущая тема оформления
        var current_theme = "Default";
        var theme_border_style;
        if(current_theme == "United") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #f76e2f;background-color: #F1F1F1;transition: all 0.5s ease 0s;";
        }
        else if(current_theme == "Monokai") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #ea397e;background-color: #54554E;transition: all 0.5s ease 0s;";
        }
        else if(current_theme == "Default") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #225a84;background-color: #F1F1F1;transition: all 0.5s ease 0s;";
        }

        //Номер выбранного параграфа
        //В этом массиве будет хранится разбитый на параграфы маркдаун текст.
        var md_text = [];
        {% for p in paragraphs %}
            md_text[{{ p.index|escapejs }}] = '{{ p.text|escapejs }}';
            document.getElementById('markdown-row-{{ p.index|escapejs }}').innerHTML = marked(md_text[{{ p.index|escapejs }}]);
            document.getElementById('li-md-wikicode-{{ p.index|escapejs }}').onmousemove = function(e) {
                $("#markdown-row-{{ p.index|escapejs }}").attr("style", theme_border_style);
            };
            document.getElementById('li-md-wikicode-{{ p.index|escapejs }}').onmouseout = function(e) {
                $(".border li .md-hover").attr("style", "padding: 3px 20px;border-right: 3px solid #c9c9c9;");
            };
            // Для версий
            document.getElementById('v_markdown-row-{{ p.index|escapejs }}').innerHTML = marked(md_text[{{ p.index|escapejs }}]);
        {% endfor %}


        // Если активирован модуль динамических комментариев, то выполняем их обработку
        {% if module_dynamic_paragraphs %}
            // Если произошло нажатие на кнопку комментировать абзац
            $("#comment_paragraph_wiki_tree_context").on("click", function () {
                var selected_num_paragraph = parseInt($("#selected_number_paragraph").val());
                // Перед тем как добавлять блоки html кода, очищаем предыдущие добавленные
                $("#dynamic-comments-div").empty();
                // Добавляем в модальное окно сам текст абзаца
                document.getElementById('md-dynamic-paragraph-show').innerHTML = marked(md_text[selected_num_paragraph]);
                // Для удобства, разбиваем весь добавляемый html код на части
                var html_dynamic_comment_part_1 = '<div class="dynamic-comment-block"><div class="row"><div class="col-xs-8 text-left"><a href=';
                var html_dynamic_comment_part_1_1 = ' style="text-decoration: none;"><b>';
                var html_dynamic_comment_part_2 = '</b></a></div><div class="col-xs-4 text-right"><b><i><span style="font-size: 12px; color: rgba(82, 82, 82, 0.44);"><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i></span></i></b></div></div><div class="row"><div class="col-xs-12 text-left">';
                var html_dynamic_comment_part_3 = '</div></div><div class="row"><div class="col-xs-4 text-left"><b><i><span style="font-size: 12px; color: rgba(82, 82, 82, 0.44);">';
                var html_dynamic_comment_part_4 = '</span></i></b></div><div class="col-xs-8 text-right"><a href="#" style="text-decoration: none;"><b><i>Полезно <span style="font-size: 12px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> (';
                var html_dynamic_comment_part_5 = ')</i></b></a></div></div></div>';
                // Само добавление кода"/user/{{ publication.id_author }}"
                {% for comment in dynamic_comments %}
                    if(({{ comment.paragraph|escapejs }}) == selected_num_paragraph) {
                        $("#dynamic-comments-div").append(html_dynamic_comment_part_1+'"/user/{{ comment.id_author|escapejs }}"'+html_dynamic_comment_part_1_1+'{{ comment.name_author|escapejs }}'+html_dynamic_comment_part_2+'{{ comment.text|escapejs }}'+html_dynamic_comment_part_3+'{{ comment.date|escapejs }}'+html_dynamic_comment_part_4+'{{ comment.rating|escapejs }}'+html_dynamic_comment_part_5);}
                {% endfor %}
            });
        {% endif %}


        {% if module_main_comments %}
            /* Общий блок комментариев */
            $("#btn-show-comment").on("click", function () {
                $("#main-comments-block").show();
                $("#show-comment-btn").hide();
                $("#hide-comment-btn").show();
            });

            $("#btn-hide-comment").on("click", function () {
                $("#main-comments-block").hide();
                $("#show-comment-btn").show();
                $("#hide-comment-btn").hide();
            });
        {% endif %}


        {% if module_versions %}
            /* Working with graphs */
            var myTemplateConfig = {
                colors: [ "#2882ba", "#f2abaf", "#80a870" ], // branches colors, 1 per column
                branch: {
                    lineWidth: 8,
                    spacingX: 50,
                    showLabel: false,                  // display branch names on graph
                },
                commit: {
                    spacingY: -80,
                    dot: {
                        size: 12,
                        strokeWidth: 3,
                    },
                    message: {
                        displayAuthor: false,
                        displayBranch: false,
                        displayHash: false,
                        font: "normal 12pt Arial"
                    },
                    shouldDisplayTooltipsInCompactMode: false, // default = true
                    tooltipHTMLFormatter: function ( commit ) {
                        return "" + commit.sha1 + "" + ": " + commit.message;
                    }
                }
            };
            var myTemplate = new GitGraph.Template( myTemplateConfig );
            var gitgraph = new GitGraph( {template: myTemplate} );
            var to_version;
            
            function show_version() {
                $.ajax({
                    type: "GET",
                    url: "get_version/",
                    data: {
                        "to_version": to_version.toString(),
                    },
                    dataType: "text",
                    cache: false,
                    success: function(data){
                        if (data == 'no'){
                            console.log("ERROR in page.js. to_version");
                        }
                        else{
                            // console.log(data);
                            var json = JSON.parse(data);
                            var count_versions = parseInt(json['count']);
                            console.log(count_versions);
                            for(var i=0; i < count_versions; i++){
                                document.getElementById('v_markdown-row-'+(i+1).toString()+'').innerHTML = marked(json[(i+1).toString()]);
                            }
                        }
                    }
                });
            };

            {{ versions_js|safe }}

        {% endif %}

    </script>
{% endblock %}