{% extends 'wiki/page/layout.html' %}
{% load bootstrap3 %}
{% block add_script %}
    {% load staticfiles %}
    <script src={% static "wiki/jsTree/jstree.min.js" %}></script>
    <link href={% static "wiki/jsTree/themes/default/style.min.css" %} rel="stylesheet" >

    <link href={% static "wiki/wiki_styles/page_themes/default.css" %} type="text/css" rel="stylesheet">

    <link href={% static "wiki/slidebars/styles/slidebars.min.css" %} type="text/css" rel="stylesheet">
    <script src={% static "wiki/slidebars/scripts/slidebars.min.js" %}></script>

    <script src={% static "wiki/auto_resize/autoResize.js" %}></script>
    <script src={% static "wiki/wiki_scripts/page.js" %}></script>

    <script src={% static "wiki/wiki_scripts/page_context.js" %}></script>
    <script>
        $(init);

        //Текущая тема оформления
        var current_theme = "Default";
        var theme_border_style;
        if(current_theme == "United") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #f76e2f;background-color: #F1F1F1;transition: all 0.5s ease 0s;";
        }
        else if(current_theme == "Monokai") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #ea397e;background-color: #54554E;transition: all 0.5s ease 0s;";
        }
        else if(current_theme == "Default") {
            theme_border_style = "padding: 3px 20px;border-right: 3px solid #225a84;background-color: #F1F1F1;transition: all 0.5s ease 0s;";
        }

        //Номер выбранного параграфа
        //В этом массиве будет хранится разбитый на параграфы маркдаун текст.
        var md_text = [];
        {% for p in paragraphs %}
            md_text[{{ p.index|escapejs }}] = '{{ p.text|escapejs }}';
            document.getElementById('markdown-row-{{ p.index|escapejs }}').innerHTML = marked(md_text[{{ p.index|escapejs }}]);
            document.getElementById('li-md-wikicode-{{ p.index|escapejs }}').onmousemove = function(e) {
                $("#markdown-row-{{ p.index|escapejs }}").attr("style", theme_border_style);
            };
            document.getElementById('li-md-wikicode-{{ p.index|escapejs }}').onmouseout = function(e) {
                $(".border li .md-hover").attr("style", "padding: 3px 20px;border-right: 3px solid #c9c9c9;");
            };
        {% endfor %}

        {% if publication.is_contents %}
            document.getElementById('contents-publication').innerHTML = marked("{{ contents|escapejs }}");
        {% endif %}

    </script>
{% endblock %}