<!DOCTYPE html><html><title>Тест Readable</title><xmp theme="spacelab" style="display:none;"># Еще одна статья....
Представляем вашему вниманию вот такой код:
```
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
```
## Демонстрация кода 1 
```
System.out.println("sdsdsds");
System.out.println("sdsdsds");
```
## Демонстрация кода 2 
```
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
```
## Демонстрация кода 3 
```
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
System.out.println("sdsdsds");
```
</xmp><script src="http://strapdownjs.com/v/0.2/strapdown.js"></script></html>