<!DOCTYPE html><html><title>Тестовый конспект</title><xmp theme="spacelab" style="display:none;">## Заголовок тестового конспекта ##

Код на питоне:

```
def get_index(request):

    all_publications = Publication.objects.all()

    context = {
            "all_publications": all_publications,
            "user_data": check_auth(request)
    }

    return render(request, 'wiki/index.html', context)
```


Еще код на питоне:
```
def get_index(request):

    all_publications = Publication.objects.all()

    context = {
            "all_publications": all_publications,
            "user_data": check_auth(request)
    }

    return render(request, 'wiki/index.html', context)
```

Учитесь программировать!
</xmp><script src="http://strapdownjs.com/v/0.2/strapdown.js"></script></html>