#main-block{
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    min-height:400px;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
}

#wiki-style-btn,#wiki-style-btn-delete-publ {
    background-color: #024f81;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}


#wiki-style-btn:hover,#wiki-style-btn-delete-publ:hover {
    background-color: #4da6d9;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}