{% extends 'main.html' %}
{% load bootstrap3 %}
{% block page_name %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="main-block" class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <label class="text-center btn-primary btn-block">SEARCH</label>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="container text-center">
                    <div class="row">
                        <span>
                            <a class="text-center" href="{% url 'index' %}" style="color: #2b669a;"><i
                                    class="fa fa-university fa-5x"><label
                                    style="font-family: Courier;">WikiCode</label></i></a>
                        </span>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div id="imaginary_container">
                                    <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-addon">
                                                <button type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="row">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        All publications </a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Top publications</a>
                                </li>
                                <li>
                                    <a href="#tab_default_3" data-toggle="tab">
                                        Last publication </a>
                                </li>
                                <li>
                                    <a href="#tab_default_4" data-toggle="tab">
                                        Tags </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <div class="container-fluid">
                                    {% for publ in all_publications reversed%}
                                        <!-- Start publication-->
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="box">
                                                    <div class="info">
                                                        <a style="text-decoration: none; cursor: pointer;" href="/page/{{ publ.id_publication }}/"><h4 class="text-left">{{ publ.title }}</h4></a>
                                                        <div style="cursor: pointer;" id="publ-tags" class="tag-list"></div>
                                                        <br>
                                                        <hr>
                                                        <p>{{ publ.description }}</p>
                                                        <hr>
                                                        <div class="btn-group">
                                                            <button id="reads_publ" href="" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> {{ publ.read }}</button>
                                                            <button id="imports_publ" href="" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> {{ publ.imports }}</button>
                                                            <button id="likes_publ" href="" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> {{ publ.likes }}</button>
                                                            <a id="author_publ" href="/user/{{ publ.id_author }}" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> {{ publ.nickname_author }}</a>
                                                            <a id="read_publ" href="/page/{{ publ.id_publication }}/" class="btn btn-default">Read publication</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End publication-->
                                    {% endfor %}
                                    </div>
                                    <div class="tab-pane" id="tab_default_4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    {% load staticfiles %}
    <link href={% static "wiki/wiki_styles/index.css" %} type="text/css" rel="stylesheet">
<script>
    $(function() {
        $('#publ-tags').tags({
            readOnly: true,
            tagData:["boilerplate", "tags"],
        });
    });
</script>
{% endblock %}