{% extends 'main.html' %}
{% load bootstrap3 %}
{% block page_name %}
    <div class="container" style="margin-top: 50px;" >
        <div class="row">
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="main-block" class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <label class="text-center btn-primary btn-block">SETTINGS</label>
                </div>
                <div class="row">
                    <br>
                    <!--NICKNAME-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Your Nickname:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--Email-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Your Email:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--Name-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Your Name:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--Name-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Your Avatar:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--Prewiew publication-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Path to your preview publication:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--Display your tree by default-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>Display your tree by default</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <div class="row">
                    <!--The path for saving the default publication-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">
                        <h4>The path for saving the default publication:</h4>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <input class="form-control" style="border-radius: 0px;">
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <hr>
                <div class="row">
                    <!--Save-->
                    <br>
                    <div class="col-xs-6 col-sm-6 col-md-5 text-right">

                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <a id="wiki-style-btn" class="btn btn-block" style="border-radius: 0px;">Save settings</a>
                    </div>
                    <div class="col-xs-0 col-sm-2 col-md-4"></div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    {% load staticfiles %}
    <link href={% static "wiki/wiki_styles/settings.css" %} type="text/css" rel="stylesheet">
{% endblock %}