{% extends 'main.html' %}
{% load bootstrap3 %}
{% block page_name %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="main-block" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12"
                 style="border-left: 1px solid #d5d5d5;border-right: 1px solid #d5d5d5;min-height:500px;border-bottom: 1px solid #d5d5d5;">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4" style="border-right: 1px solid #d5d5d5;min-height:500px;">
                                <div class="row">
                                    <label class="text-center btn-primary btn-block">MY TREE</label>
                                </div>
                                <div class="row">
                                    <br>
                                </div>
                                <div class="row">
                                    <ul id="tree2">
                                        <!--Здесь должен располагаться сгенерированный html preview дерева-->
                                        {{ preview_tree|safe }}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8" style="min-height:500px;">
                                <div class="row">
                                    <label class="text-center btn-primary btn-block">TREE MANAGER</label>
                                </div>
                                <div class="row">
                                    <br>
                                </div>
                                <div class="row">
                                    <div id="panel_inputs" class="col-md-12">
                                        <form action="{% url 'create' %}" method="post">
                                            {% csrf_token %}
                                            <div class="btn-group">
                                                <button type="button" id="add_folder_in_wiki_tree" class="btn btn-default">Add <span
                                                        class="glyphicon glyphicon-folder-open"></span></button>

                                                <button id="add_publ_in_wiki_tree" class="btn btn-default">Create <span
                                                        class="glyphicon glyphicon-list"></span></button>
                                                <input id="choose-folder-secret" content="secret" name="folder_publ" type="text" hidden value="off"/>

                                                <button type="button" class="btn btn-default">Generate <span
                                                        class="glyphicon glyphicon-bookmark"></span></button>

                                                <button type="button" class="btn btn-default">Test <span
                                                        class="glyphicon glyphicon-check"></span></button>

                                                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i>
                                                </button>

                                                <button type="button" class="btn btn-default"><span
                                                        class="glyphicon glyphicon-sort"></span></button>

                                                <button id="del-element-in-tree"type="button" class="btn btn-default"><span
                                                        class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!--Скрытый блок добавления папки-->
                                    <div id="div_folder_name_input" class="col-xs-12" style="display: none;">
                                        <span><h4>Add New Folder</h4></span>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <input  type="text" class="form-control" id="folder_name_input" placeholder="New Folder Name..." autofocus
                                                        style="border-radius: 0px;"/>
                                            </div>
                                            <div class="col-xs-4 text-left">
                                                <div class="btn-group">
                                                    <button id="accept_add_folder_in_wiki_tree" class="btn btn-default">Add <span
                                                            class="glyphicon glyphicon-folder-open"></span></button>
                                                    <button id="cancel_add_folder_in_wiki_tree" class="btn btn-default">Cancel <span
                                                            class="glyphicon glyphicon-remove"></span></button>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">

                                            </div>

                                        </div>
                                    </div>
                                    <!--Скрытый блок подтверждения удаления элемента-->
                                    <div id="div_accept_delete_elem"class="col-xs-12" style="display: none;">
                                        <span><h4 id="deleter-text-tree-manager">Delete? </h4></span>
                                        <div class="row">
                                            <div class="col-xs-12 text-left">
                                                <div class="btn-group">
                                                    <button id="yes_delete_elem_in_tree" class="btn btn-default">Yes <span
                                                            class="glyphicon glyphicon-check"></span></button>
                                                    <button id="no_delete_elem_in_tree" class="btn btn-default">No <span
                                                            class="glyphicon glyphicon-remove"></span></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <br>
                                    </div>

                                    <!--Динамическое дерево-->
                                    <div class="col-md-12">
                                        <div id="jstree">
                                            <ul>
                                                <!--Здесь должен располагаться сгенерированный html код, для динамического дерева-->
                                                {{ dynamic_tree|safe }}
                                            </ul>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li id="lt-context-menu-2"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Info" style="text-decoration: none;"><i class="fa fa-info-circle"></i> Info</a>
            </li>
            <li id="lt-context-menu-1" class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Open" style="text-decoration: none;"><i class="fa fa-eye"></i> Open</a>
            </li>
            <li id="lt-context-menu-3"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Settings" style="text-decoration: none;"><i class="fa fa-gear"></i> Settings</a>
            </li>
            <li id="lt-context-menu-3-0"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Move Publ" style="text-decoration: none;"><i class="fa fa-hand-grab-o"></i> Move Publication</a>
            </li>
            <li id="lt-context-menu-3-1"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Settings" style="text-decoration: none;"><i class="fa fa-graduation-cap"></i> Set Preview</a>
            </li>
            <li id="lt-context-menu-4"  class="context-menu__item">
                <a id="add_folder_in_wiki_tree_context" href="#" class="context-menu__link" data-action="Create folder" style="text-decoration: none;"><i class="fa fa-folder-open"></i> Create Folder</a>
            </li>
            <li id="lt-context-menu-5"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Create publ" style="text-decoration: none;"><i class="fa fa-list-alt"></i> Create Publication</a>
            </li>
            <li id="lt-context-menu-6"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Rename Folder" style="text-decoration: none;"><i class="fa fa-text-width"></i> Rename folder</a>
            </li>
            <li id="lt-context-menu-9"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Move Folder" style="text-decoration: none;"><i class="fa fa-hand-grab-o"></i> Move Folder</a>
            </li>
            <li id="lt-context-menu-7"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Sort" style="text-decoration: none;"><i class="fa fa-sort"></i> Sort publications</a>
            </li>
            <li id="lt-context-menu-8"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Delete Folder" style="text-decoration: none;"><i class="fa fa-times"></i> Delete Folder</a>
            </li>
            <li id="lt-context-menu-10"  class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Delete Publ" style="text-decoration: none;"><i class="fa fa-times"></i> Delete Publication</a>
            </li>
        </ul>
    </nav>


{% endblock %}

{% block add_script %}
    {% load staticfiles %}
    <script src={% static "wiki/tree_manager_scripts/actions.js"%}></script>
    <script src={% static "wiki/tree_context_menu/script.js"%}></script>
    <link href={% static "wiki/tree_context_menu/style.css" %} type="text/css" rel="stylesheet">
    <link href={% static "wiki/wiki_styles/tree_manager.css" %} type="text/css" rel="stylesheet">
{% endblock %}

